nav{
    padding: 30px 0;
    background: #EEEFF3;
    .container{
        .nav__wrapper{
            display: flex;
            justify-content: space-between;
            ul{
                display: flex;
                gap: 34px;
                list-style-type: none;
                li{
                    a{
                        color: #091F5B;
                        font-family: Helvetica;
                        font-size: 24px;
                        font-weight: 400;
                        text-transform: capitalize;
                        &:hover{
                            animation: jump 3s infinite;
                        }
                    }
                }
            }
        }
    }
}
.active{
    border-bottom: 4px solid #000000;
    border-radius: 4px;
}

@keyframes jump{
    from{
        margin-bottom: 20px;
    }
    to{
        margin-bottom: 0px;
    }
}